{% extends 'layout.html.twig' %}

{% block title %}Customers index{% endblock %}

{% block body %}
    <section id="intro" class="container">
        <footer>
            <ul class="actions">
                <li><a href="{{ path('homepage') }}" class="button large alt">Accueil</a></li>
                <li><a href="{{ path('customers_new') }}" class="button large">Nouveau client</a></li>
                {#                <li><a href="#" class="button alt large">Learn More</a></li>#}
            </ul>
        </footer>
    </section>
    <!-- Main -->
    <section id="main">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Portfolio -->
                    <section>
                        <header class="major">
                            <h2>Nos clients</h2>
                            <div>
                                <input id="searchbar" onkeyup="search_animal()" type="text" name="search" placeholder="Rechercher..">
                            </div>
                        </header>

                        <div class="row" id="list">
                            {% for customer in customers %}
                                <div class="col-4 col-6-medium col-12-small">
                                    <div class="animals">
                                    <section class="box">
                                        <a class="image featured"><img src="" alt="" /></a>
                                        <header>
                                            <h3 class="customers">{{ customer.name }}</h3>
                                        </header>
                                        <p>{{ customer.address }}</p>
                                        <div class="text-right">
                                            {% if customer.phone1 != null %}
                                                <div class="">0{{ customer.phone1 }}</div>
                                            {% endif %}
                                            {% if customer.phone2 != null %}
                                                <div class="">0{{ customer.phone2 }}</div>
                                            {% endif %}
                                            {% if customer.phone3 != null %}
                                                <div class="">0{{ customer.phone3 }}</div>
                                            {% endif %}
                                        </div>
                                        <footer>
                                            <ul class="actions">
                                                <li>
                                                    <a href="{{ path('documentation_try', {'id': customer.id}) }}" class="button alt">Afficher</a>
                                                </li>
                                                <li><a href="{{ path('customers_edit', {'id': customer.id}) }}" class="button alt2">Editer</a></li>
{#                                                <li>{{ include('customers/_delete_form.html.twig') }}</li>#}
                                            </ul>
                                        </footer>
                                    </section>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>

<script type="javascript">
    // JavaScript code
    function search_animal() {
        let input = document.getElementById('searchbar').value;
        input=input.toLowerCase();
        let x = document.getElementsByClassName('animals');

        for (i = 0; i < x.length; i++) {
            if (!x[i].innerHTML.toLowerCase().includes(input)) {
                x[i].style.display="none";
            }
            else {
                x[i].style.display="bloc";
            }
        }
    }
</script>

{% endblock %}



