{% extends 'layout.html.twig' %}

{% block title %}Tarifs index{% endblock %}

{% block body %}
    <section id="intro" class="container">
        <footer>
            <ul class="actions">
                <li><a href="{{ path('homepage') }}" class="button large alt">Accueil</a></li>
                <li><a href="{{ path('prices_new') }}" class="button large">Nouvel objet tarifaire</a></li>
            </ul>
        </footer>
    </section>
    <!-- Main -->
    <section id="main">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Portfolio -->
                    <section>
                        <header class="major">
                            <h2>Nos Grilles tarifaires</h2>
                        </header>
                        <div class="row">
                            {% for price in prices %}
                                <div class="col-4 col-6-medium col-12-small">
                                    <section class="box">
                                        <a class="image featured"><img src="" alt="" /></a>
                                        <header>
                                            <h3>{{ price.priceName }}</h3>
                                        </header>
                                        <p></p>
                                        <div class="text-right">
                                        </div>
                                        <footer>
                                            <ul class="actions">
                                                <li>
                                                    <a href="{{ path('prices_edit', {'id': price.id}) }}" class="button alt">Afficher</a>
                                                </li>
                                                <li>{{ include('prices/_delete_form.html.twig') }}</li>
                                            </ul>
                                        </footer>
                                    </section>
                                </div>
                            {% endfor %}
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
{% endblock %}