<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}" />
    <link rel="stylesheet" href="{{ asset('') }}" />
    <link rel="stylesheet" href="{{ asset('') }}" />
    <link rel="stylesheet" href="{{ asset('') }}" />
    {% block stylesheets %}{% endblock %}
</head>
<body class="is-preload">
    <div id="wrapper">

    {% block header %}{% endblock %}
    {% block login %}{% endblock %}
    {% block body %}{% endblock %}
    {% block footer %}{% endblock %}
    {% block javascripts %}
        <script src="{{ asset('') }}"></script>
        <script src="{{ asset('') }}"></script>
        <script src="{{ asset('') }}"></script>
        <script src="{{ asset('') }}"></script>
        <script src="{{ asset('') }}"></script>
        <script src="{{ asset('') }}"></script>
        <script src="{{ asset('') }}"></script>
        <script type="text/javascript" src="{{ asset('') }}"></script>
    {% endblock %}
    </div>
</body>
</html>
