{% extends 'layout.html.twig' %}

{% block body %}
    <!-- Main -->
    <div id="main">
        <div class="inner">
            <header>
                <h1>This is Phantom, a free, fully responsive site<br />
                    template designed by <a href="http://html5up.net">HTML5 UP</a>.</h1>
                <p>Etiam quis viverra lorem, in semper lorem. Sed nisl arcu euismod sit amet nisi euismod sed cursus arcu elementum ipsum arcu vivamus quis venenatis orci lorem ipsum et magna feugiat veroeros aliquam. Lorem ipsum dolor sit amet nullam dolore.</p>
            </header>
            <section class="tiles">
{#                {% for i in 1..6 %}#}
{#                    <article class="style{{ i }}">#}
{#									<span class="image">#}
{#										<img src="{{ asset("images/pic0{{ i }}.jpg") }}" alt="pic0{{ i }}" />#}
{#									</span>#}
{#                        <a href="#">#}
{#                            <h2>Magna{{ i }}</h2>#}
{#                            <div class="content">#}
{#                                <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>#}
{#                            </div>#}
{#                        </a>#}
{#                    </article>#}
{#                {% endfor %}#}
                <article class="style1">
									<span class="image">
										<img src="{{ asset("images/pic01.jpg") }}" alt="pic01" />
									</span>
                    <a href="#">
                        <h2>INTRANET CLIENT</h2>
                        <div class="content">
                            <p>Informations du réseau</p>
                        </div>
                    </a>
                </article>
            </section>
        </div>
    </div>
{% endblock %}