{% extends 'base.html.twig' %}

{% block title %}Documentation index{% endblock %}

{% block body %}
    <h1>Documentation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Document</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for documentation in documentations %}
            <tr>
                <td>{{ documentation.id }}</td>
                <td>{{ documentation.document }}</td>
                <td>
                    <a href="{{ path('documentation_show', {'id': documentation.id}) }}">show</a>
                    <a href="{{ path('documentation_edit', {'id': documentation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('documentation_new') }}">Create new</a>
{% endblock %}
