{% extends 'base.html.twig' %}

{% block title %}UserSociety index{% endblock %}

{% block body %}
    <h1>UserSociety index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>ZipCode</th>
                <th>City</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_society in user_societies %}
            <tr>
                <td>{{ user_society.id }}</td>
                <td>{{ user_society.Name }}</td>
                <td>{{ user_society.Address }}</td>
                <td>{{ user_society.ZipCode }}</td>
                <td>{{ user_society.City }}</td>
                <td>
                    <a href="{{ path('user_society_show', {'id': user_society.id}) }}">show</a>
                    <a href="{{ path('user_society_edit', {'id': user_society.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_society_new') }}">Create new</a>
{% endblock %}
